body{
    font-family: 'Barlow', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
    background-image: url("fylo-landing-page-with-two-column-layout-master/images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 1000% 65%;
}

header{
    background-image: url("fylo-landing-page-with-two-column-layout-master/images/logo.svg");
    background-repeat: no-repeat;
    background-size: 80px 24px;
    background-position: top 24px left 24px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 24px;
    padding: 24px;
}

header a, 
header a:hover, 
header a:active, 
header a:visited, 
header a:link{
    text-decoration: none;
    color: #07043B;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

main{
    padding: 0 24px;
}

.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("fylo-landing-page-with-two-column-layout-master/images/illustration-1.svg");
    background-repeat: no-repeat;
    background-size: 304px 225px;
    background-position-y: 100px;
    background-position-x: center;
    padding-top: 360px;
}

.section-1 h1{
    color: #07043B;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    max-width: 320px;
}

.section-1 p{
    color: #07043B;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 24px;
    max-width: 296px;
}

#email{
    width: 262px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3.13px;
    padding: 0 21px;
    margin: 32px 0 16px 0;
}

#submit{
    width: 306px;
    height: 40px;
    background-color: #2F65F8;
    border: none;
    border-radius: 3.13px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.first-input,
.second-input{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("fylo-landing-page-with-two-column-layout-master/images/illustration-2.svg");
    background-repeat: no-repeat;
    background-size: 320px 241px;
    background-position-y: 183px;
    background-position-x: center;
    padding-top: 511px;
}

.section-2 h1{
    color: #07043B;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 9px;
}

.section-2 p{
    color: #615F7E;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 16px;
    max-width: 320px;
}

#green{
    color: #3DA08F;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #3DA08F;
    margin: 36px 0 40px 0;
}

.card{
    width: 280px;
    height: 169px;
    border-radius: 3.93px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
    padding: 0 13px 0 26px;
}

.card p{
    color: #07043B;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.38px;
    text-align: left;
}

.card svg{
    margin-bottom: -15px;
}

.user{
    display: flex;
    align-items: center;
    gap: 7.46px;
    margin-top: 12px;
}

.user h2{
    color: #07043B;
    font-weight: 700;
    font-size: 9px;
    line-height: 12.26px;
    letter-spacing: 0.45px;
}

.user p{
    color: #07043B;
    font-weight: 400;
    font-size: 6px;
    line-height: 11.8px;
    letter-spacing: 0.3px;
    margin: 0;
}

.user img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.section-3{
    background-color: #575988;
    width: 100%;
    padding: 24px;
    margin: 82px 0 0 -24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 30px 0 16px 0;
}

.section-3 p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 24px;
    max-width: 280px;
}

#example{
    width: 224px;
    height: 40px;
    border-radius: 3.13px;
    padding: 0 8px;
    margin-bottom: 8px;
    border: none;
}

#free{
    width: 240px;
    height: 40px;
    background-color: #2F65F8;
    border: none;
    border-radius: 3.13px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

footer{
    padding: 39px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #07043B;
    color: #FFFFFF;
}

footer a, 
footer a:hover, 
footer a:active, 
footer a:visited, 
footer a:link{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
}

.logo{
    margin: 26px 0 16px 0;
}

.contact{
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.icons{
    width: 101px;
    height: 27px;
}

@media (min-width: 1024px){

    header{
        background-size: 166px 49px;
        background-position: top 65px left 80px;
        gap: 57px;
        padding: 80px;
    }

    header a, 
    header a:hover, 
    header a:active, 
    header a:visited, 
    header a:link{
        text-decoration: none;
        color: #07043B;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    main{
        padding: 0 80px;
    }
    
    .section-1{
        align-items: start;
        background-size: 640px 474px;
        background-position-y: 0;
        background-position-x: right;
        padding-top: 80px;
    }
    
    .section-1 h1{
        font-size: 40px;
        line-height: 60px;
        text-align: left;
        max-width: 627px;
    }
    
    .section-1 p{
        font-size: 17px;
        line-height: 24px;
        text-align: left;
        margin-top: 15px;
        max-width: 585px;
    }

    .first-input{
        flex-direction: unset;
        align-items: center;
        margin-top: 25px;
    }
    
    #email{
        width: 320px;
        height: 45px;
        margin: 0 16px 0 0;
    }
    
    #submit{
        width: 200px;
        height: 47px;
    }


    .section-2{
        align-items: start;
        background-size: 542px 409px;
        background-position-y: 20px;
        background-position-x: right;
        margin-top: 360px;
        padding: 0;
    }
    
    .section-2 h1{
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 22px;
    }
    
    .section-2 p{
        color: #07043B;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        max-width: 529px;
    }
    
    #green{
        font-size: 16px;
        line-height: 22px;
        margin: 15px 0 50px 0;
    }
    
    .card{
        max-width: 356px;
        height: 215px;
        border-radius: 5px;
        padding: 0 33px 0 34px;
    }
    
    .card p{
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.5px;
    }
    
    .user{
        gap: 8px;
        margin-top: 16px;
    }
    
    .user h2{
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.55px;
    }
    
    .user p{
        font-size: 8px;
        line-height: 15px;
        letter-spacing: 0.4px;
    }
    
    .user img{
        width: 32px;
        height: 32px;
    }
    
    .section-3{
        padding: 80px;
        margin: 107px 0 0 -80px;
        flex-direction: unset;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
    }

    .section-3 div{
        display: flex;
        flex-direction: column;
    }
    
    .section-3 h1{
        font-size: 32px;
        line-height: 48px;
        margin: 20px 0 17px 0;
        max-width: 347px;
    }
    
    .section-3 p{
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        max-width: 533px;
    }
    
    #example{
        width: 480px;
        height: 48px;
        padding: 0 22px;
        margin-bottom: 16px;
    }
    
    #free{
        width: 200px;
        height: 48px;
    }

    footer{
        padding: 100px 80px;
        flex-direction: unset;
        gap: 200px;
        position: relative;
    }
    
    footer a, 
    footer a:hover, 
    footer a:active, 
    footer a:visited, 
    footer a:link{
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }
    
    .logo{
        position: absolute;
        top: 0;
        left: 80px;
    }

    .contact-container{
        display: flex;
        flex-direction: column;
        gap: 16px
    }
    
    .contact{
        display: flex;
        gap: 20px;
        align-items: center;
        min-width: 230px;    
    }

    .icons{
        width: 101px;
        height: 27px;
    }

    /* desktop active */

    #submit:hover, #free:hover{
        background-color: #6C9BFF; 
    }

    header a:hover{
        color: #2F65F8; 
    }


    
}

